.merchant-container{
    display: flex;
    flex-direction: column;
}

.merchants-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
border: none;
}
td {

}

th {
  background-color: #f2f2f2;
}

.add-merchant-container{
    display: flex;
    align-self: flex-end;
    
}

.add-merchant-container button{
    
}

.action-button, .add-merchant-container button {
  margin-right: 5px;
  background-color: #521c78;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.border-button {
  border: 2px solid #521c78;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.2s;
}

.border-button:hover {
  background-color: #521c78;
  color: #fff;
}

.action-button:hover {
  background-color: #200633;
}

.td {
  text-align: right;
}
